.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;

    &__content {
        background-color: rgb(49, 49, 49);
        height: 40vh;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;

        &--view {
            position: absolute;
            top: 20px;
            left: 20px;
            bottom: 20px;
            right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &--edit {
            position: absolute;
            top: 20px;
            left: 20px;
            bottom: 20px;
            right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }


        .modalHeading {
            color: rgb(190, 190, 190);
            font-family: sans-serif;
        }
        .modalStats {
            display: flex;
            gap: 25px;
            color: rgb(190, 190, 190);
            margin-top: 10px;
            font-size: 40px;
            font-family: sans-serif;
            font-weight: bold;
            align-items: center;
        }


        .modeButtonsWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100%;

            margin-bottom: 30px;
            .modeButtons {
                width: 100%;
                padding: 15px 0;
                border-radius: 10px;
                font-family: sans-serif;
                font-weight: bold;
                text-transform: uppercase;

                &.edit {
                    background-color: rgb(139, 119, 0);
                }
                &.delete {
                    background-color: rgb(136, 42, 42);
                }
            }
        }
    }
}