.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    height: 100vh;


    &__content {
        background-color: rgb(49, 49, 49);
        height: 40vh;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;


        button {
            color: black;
        }

        &--view {
            position: absolute;
            top: 20px;
            left: 20px;
            bottom: 20px;
            right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &--edit {
            position: absolute;
            top: 20px;
            left: 20px;
            bottom: 20px;
            right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }


        .modalHeading {
            color: rgb(190, 190, 190);
            font-family: sans-serif;
        }
        .modalStats {
            display: flex;
            color: rgb(190, 190, 190);
            margin-top: 10px;
            font-size: 40px;
            font-family: sans-serif;
            font-weight: bold;
            align-items: center;
            justify-content: center;
            gap: 50px;
            width: 100%;

            p {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                input {
                    height: 30px;
                    width: fit-content;
                    width: 50px;
                    background-color: rgb(112, 112, 112);
                    border-radius: 5px;
                    font-size: 15px;
                    text-align: center;
                }
            }
        }


        .modeButtonsWrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100%;

            margin-bottom: 30px;
            .modeButtons {
                width: 100%;
                padding: 15px 0;
                border-radius: 10px;
                font-family: sans-serif;
                font-weight: bold;
                text-transform: uppercase;

                &.edit {
                    background-color: rgb(139, 119, 0);
                }
                &.delete {
                    background-color: rgb(136, 42, 42);
                }
            }
        }
    }
}